*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/secrets.properties
app/src/main/res/raw/snapnourish_440719_key.json
app/src/main/res/raw/snapnourish_3028a_vertexai_key.json

